<!DOCTYPE html>
<html>
<head>
	<title> Chunk | Food Delivery </title>


	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> </script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/style.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor\animate.css\animate.min.css" rel="stylesheet">
  <link href="vendor\aos\aos.css" rel="stylesheet">
  <link href="vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
  <link href="vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
  <link href="vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="vendor\swiper\swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css\new_style.css" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	</head>

<body>

	<script>
		$(document).ready(function() {
	
			
			$('#italian').click(function(){

$('#cuisine').hide();
$( "#main" ).append( '<div id="cuisine_italy"><div class="row" ><div class="col-lg-4 col-md-6 col-sm-12 col-12 "><div class="card" ><div class="img-holder"><img src="./image/menu1.jpg" class="card-img-top" ></div><div class="card-body"><h4 class="card-title">Al Forno! Straight Outta Italy</h4><p class="card-text" style="color: rgb(105, 105, 105);"> Italian, Pizza, Continental, European...</p> </div></div></div> </div></div>'	 );



});
			
$('#american').click(function(){

$('#cuisine_italy').hide();
$( "#main" ).append( '<div id="cuisine_american"><div class="row" ><div class="col-lg-4 col-md-6 col-sm-12 col-12 "><div class="card" ><div class="img-holder"><img src="./image/menu2.jpg" class="card-img-top" ></div><div class="card-body"><h4 class="card-title">Al Forno! Straight Outta Italy</h4><p class="card-text" style="color: rgb(105, 105, 105);"> Italian, Pizza, Continental, European...</p> </div></div></div> </div></div>'	 );



});
$('#download').click(function(){


	$('html, body').animate({
        scrollTop: $("#footer").offset().top
    }, 800);



});


			$("#recipe").autocomplete({
				source: async function(request, response) {
					let data = await fetch(`http://localhost:3001/search?term=${request.term}`)
						.then(results => results.json())
						.then(results => results.map(result => {
							return { label: result.name, value: result.name, id: result._id };
						}));
						response(data);
				},
				minLength: 2,
				select: function(event, ui) {
					console.log(ui.item);
				}
			});
		});
	</script>
	
	  <!-- ======= Header ======= -->
	  <header id="header" class="fixed-top d-flex align-items-cente">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
	
		  <h1 class="logo me-auto me-lg-0"><a href="/">Chunk</a></h1>
	
		  <nav id="navbar" class="navbar order-last order-lg-0">
			<ul>
			  <li><a class="nav-link scrollto" href="#about">About us</a></li>
			  <li><a class="nav-link scrollto" href="#browse-food">Browse </a></li>
			  <li><a class="nav-link scrollto" href="#contact">Contact us</a></li>
			  <li><a class="nav-link scrollto" href="#download">Download app</a></li>
	
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		  </nav><!-- .navbar -->
		  <a href="/register" class="join-now-btn scrollto d-none d-lg-flex">Join us Now</a>
	
		</div>
	  </header><!-- End Header -->
		<br><br><br><br>

	<div class="container packages">
		<div class="title mb-5">
			<h1>Browse by Category</h1>
			
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-12 col-12 rounded-circle" id="italian">
			
					<a class="card rounded-circle w-100 h-100  " href="/italian">
						<img src="./image/menu1.jpg" class="   w-100 h-75 rounded-circle" >
						
						<div style="padding: 5px;" class="mt-5">
						<h4 class="card-title"style="text-align:center;">Italian</h4>
					  </div>
						
						</a>
			
			</div>
			<div class="col-lg-2 col-md-3 col-sm-12 col-12 rounded-circle" id="american">
				<a class="card rounded-circle w-100 h-100  " href="/lebanese">
					
					<img src="./image/menu2.jpg" class="   w-100 h-75 rounded-circle" >
					
				  	<div style="padding: 5px;" class="mt-5">
						<h4 class="card-title"style="text-align:center;">Lebanese</h4>
					  </div>
					
				</a>
			
			</div>
			<div class="col-lg-2 col-md-3 col-sm-12 col-12 rounded-circle">
				<a class="card rounded-circle w-100 h-100  " href="/irish">
					
					<img src="./image/menu3.jpg" class="   w-100 h-75 rounded-circle" >
					
				  	<div style="padding: 5px;" class="mt-5">
						<h4 class="card-title"style="text-align:center;">Irish</h4>
					  </div>
					
				</a>
			
			</div>

			<div class="col-lg-2 col-md-3 col-sm-12 col-12 rounded-circle">
				<a class="card rounded-circle w-100 h-100  " href="/mexican">
					
					<img src="./image/menu4.jpg" class="   w-100 h-75 rounded-circle" >
					 
				  	<div style="padding: 5px;" class="mt-5">
						<h4 class="card-title"style="text-align:center;">Mexican</h4>
					  </div>
					
				</a>
			
			</div>
			
			<div class="col-lg-2 col-md-3 col-sm-12 col-12 rounded-circle">
				<a class="card rounded-circle w-100 h-100  " href="/american">
					
					<img src="./image/menu6.jpg" class="   w-100 h-75 rounded-circle" >
					
				  	<div style="padding: 5px;" class="mt-5">
						<h4 class="card-title"style="text-align:center;">American</h4>
					  </div>
					
				</a>
			
			</div>

		</div>


		
		<div class="title mb-5 mt-5">
			<br>
			<h1>Available Restaurants</h1>

		</div>



<div class="row" >
	
	<div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
		<div class="card" >
			<div class="img-holder">
				<img src="./image/menu1.jpg" class="card-img-top" >
			</div>
		  
		  <div class="card-body">
			<h4 class="card-title">Al Forno! Straight Outta Italy</h4>
			<p class="card-text" style="color: rgb(105, 105, 105);"> Italian, Pizza, Continental, European...</p>
		  </div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
		<div class="card" >
		  <div class="img-holder">
				<img src="./image/menu2.jpg" class="card-img-top" >
			</div>
		  <div class="card-body">
			<h4 class="card-title">The Salad Story</h4>
			<p class="card-text" style="color: rgb(105, 105, 105);"> Cafe, Healthy Food, Salad, Fast Food...</p>
		  </div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
		<div class="card" >
		  <div class="img-holder">
				<img src="./image/menu3.jpg" class="card-img-top" >
			</div>
		  <div class="card-body">
			<h4 class="card-title">The Irish House</h4>
			<p class="card-text" style="color: rgb(105, 105, 105);"> European, American, Fast Food</p>
		  </div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
		<div class="card" >
			<div class="img-holder">
				<img src="./image/menu4.jpg" class="card-img-top" >
			</div>
		  
		  <div class="card-body">
			<h4 class="card-title">UBQ by Barbeque Nation</h4>
			<p class="card-text" style="color: rgb(105, 105, 105);"> North Indian, BBQ, Biryani, Shake</p>
		  </div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
		<div class="card" >
		  <div class="img-holder">
				<img src="./image/menu5.jpg" class="card-img-top" >
			</div>
		  <div class="card-body">
			<h4 class="card-title">Dimsum & Co.</h4>
			<p class="card-text" style="color: rgb(105, 105, 105);"> Chinese, Thai, Malaysian, Japanese...</p>
		  </div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
		<div class="card" >
		  <div class="img-holder">
				<img src="./image/menu6.jpg" class="card-img-top" >
			</div>
		  <div class="card-body">
			<h4 class="card-title">The burger company</h4>
			<p class="card-text" style="color: rgb(105, 105, 105);"> Burger, Fast Food, Beverages, Shake</p>
		  </div>
		</div>
	</div>

</div>
</div>
	
		
	

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="social-links mt-3">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Chunk</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/5118cb3e8d.js" crossorigin="anonymous"></script>
  <script src="./js/food.js"></script>
  
  </body>
</html>