<!DOCTYPE html>
<html>
<head>
	<title>Forget Password</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/login.css">
	<link rel="stylesheet" href="./css/style.css">


	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form2" ).submit(function(event) {

				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/forgetpass',
					data: $('#form2').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form2')[0].reset();
						//alert("abc");
						document.getElementById("check").innerHTML=response.Success;

						setTimeout(function(){
							document.getElementById("check").innerHTML="";
						},3000);
						if (response.Success=="Password changed!") {
							document.getElementById("aa").click();
						};
					},
					error: function() {
					}
				})
			});

		});
	</script>
</head>
<body>
	<div class="header-area " style="background-color: black;">
		<div class="navbar-area">
			<nav class="site-navbar">

			  <!-- site logo -->
				  <a href="/" class="site-logo">CHUNK </a>
				  
			  <!-- site menu/nav -->
			  <ul >
				<li><a href="/browsefood">Browse Food</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Download App</a></li>
				<li><a href="/register">Register</a></li>
			  </ul>

			  <!-- nav-toggler for mobile version only -->
			  <button class="nav-toggler">
				<span></span>
			  </button>

			</nav>
		</div>

  </div>
	<br>
		<div class="col-md-4 col-md-offset-4 signup-content">
			<div>
				<h2 class="form-title"> Forget Password</h2>
			</div>
			<div class="form-group">
				<form id="form2" method="post">
					<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
					<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
					<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
					<input type="submit" value="Change" class="form-submit">
				</form>
			</div>
			<div  class="mssg bg-danger">
				<span id="check"></span>
				</div>
				<div id="LangTable"><a href="/profile" id="aa"></a>
				</div>
				<div><span style="color: white;" class="loginhere">Login? </span><a href="/login" class="loginhere-link">Click here</a></div>
			</div>
			<div id="LangTable"><a href="/login" id="aa"></a>
			</div>
		</div>

</body>
</html>