<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Chunk</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">


  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> </script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor\animate.css\animate.min.css" rel="stylesheet">
  <link href="vendor\aos\aos.css" rel="stylesheet">
  <link href="vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
  <link href="vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
  <link href="vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="vendor\swiper\swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css\new_style.css" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="https://smtpjs.com/v3/smtp.js"></script>

</head>

<script>
  $(document).ready(function() {
    
    $('#download').click(function(){
      $('html, body').animate({scrollTop: $("#footer").offset().top}, 800);
    });

    $(".auto_com").autocomplete({
      source: async function(request, response) {
        let data = await fetch(`http://localhost:3001/search?term=${request.term}`)
          .then(results => results.json())
          .then(results => results.map(result => {
            return { label: result.name, value: result.name, id: result._id };
          }));
          response(data);
      },
      minLength: 2,
        select: function(event, ui) {
          console.log(ui.item);
        }
    });

    $( "#sendEmail" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/send-email',
					data: $('#sendEmail').serialize(),
					dataType: "json",
					success: function(response){
						$('#sendEmail')[0].reset();
            document.getElementById("sent-message").style.display = "block";
						document.getElementById("sent-message").innerHTML=response.Success;
         	},
         	error: function() {
            document.getElementById("error-msg").style.display = "block";
						document.getElementById("error-msg").innerHTML=response.Failed;
         	}
    		})
  	});

  });
</script>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">Chunk</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="#about">About us</a></li>
          <li><a class="nav-link scrollto" href="#browse-food">Browse </a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact us</a></li>
          <li><a class="nav-link scrollto" href="#download">Download app</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="/register" class="join-now-btn scrollto d-none d-lg-flex">Join us Now</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(image/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><span>Delicious</span> Restaurants</h2>
                <p class="animate__animated animate__fadeInUp">For over a decade now, we’ve been empowering our users in discovering new tastes and experiences across Lebanon. By putting together meticulous information for our users, we enable them to make an informed choice.</p>
                <div>
                  <div class="hero-search">
                    <form action="" method="post">
                      <label><i class="fas fa-search mt-1"></i></label>
                      <input type="text" name="text" placeholder="Search for a restaurant, cuisine or a dish"class="auto_com"><input type="submit" value="Search">
                    </form>
                  </div>
                </div>
              
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(image/slide/slide-2.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Focusing on Affordability</h2>
                <p class="animate__animated animate__fadeInUp">The benefits of providing an interesting choice are embodied by the success of Chunk Platform. We are leaving no stone unturned when it comes to making food more affordable without compromising on the profitability of a given restaurant.</p>
                <div>
                  <div class="hero-search">
                    <form action="" method="post">
                      <label><i class="fas fa-search mt-1"></i></label>
                      <input type="text" name="text" placeholder="Search for a restaurant, cuisine or a dish" class="auto_com"><input type="submit" value="Search">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(image/slide/slide-3.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Improving Quality</h2>
                <p class="animate__animated animate__fadeInUp"> We are committed to nurturing a neutral platform and are helping food establishments maintain high standards through Hyperpure. Food Hygiene Ratings is a coveted mark of quality among our restaurant partners.</p>
                <div>
                  <div class="hero-search">
                    <form action="" method="post">
                      <label><i class="fas fa-search mt-1"></i></label>
                      <input type="text" name="text" placeholder="Search for a restaurant, cuisine or a dish" class="auto_com"><input type="submit" value="Search">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container statistic" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Our mouth-watering statistics</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <i class="fas fa-brush fa-2x"></i>
              <h4>1000+</h4>
              <p>Online Orders</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <i class="fas fa-user fa-2x"></i>
              <h4>500+</h4>
              <p>Satisfied customers</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <i class="fas fa-mug-hot fa-2x"></i>
              <h4> 1500+</h4>
              <p>Cups of Teas</p>
            </div>
          </div>
          

        </div>

      </div>
    </section><!-- End Why Us Section -->
    
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About us</h2>
          <p>Get to know us more</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="image/about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Better food for more people.</h3>
            <p class="fst-italic">
              Launched in 2010, Our technology platform connects customers, restaurant partners and delivery partners, serving their multiple needs. 
              Customers use our platform to:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Search and discover restaurants.</li>
              <li><i class="bi bi-check-circle"></i> Read and write customer generated reviews and view and upload photos.</li>
              <li><i class="bi bi-check-circle"></i> Order food delivery.</li>
              <li><i class="bi bi-check-circle"></i> Book a table and make payments while dining-out at restaurants.</li>
            </ul>
            <p>
              On the other hand, we provide restaurant partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service. We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients and kitchen products to restaurant partners. 
              We also provide our delivery partners with transparent and flexible earning opportunities.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Browse Food Section ======= -->
    <section id="browse-food" class="browse-food">
      <div class="container packages" data-aos="fade-up">

        <div class="section-title">
          <h2>Browse Food</h2>
          <p>Check our wide variety of restaurants</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="card" >
              <div class="img-holder">
                <a href="/restaurant?resto=La Pizzaria"><img src="image/menu1.jpg" class="card-img-top" ></a>
              </div>
              
              <div class="card-body">
                <h4 class="card-title">La Pizzaria</h4>
                <p class="card-text" style="color: rgb(105, 105, 105);"> Italian, Pizza, Continental, European...</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="card" >
              <div class="img-holder">
                <img src="image/menu2.jpg" class="card-img-top" >
              </div>
              <div class="card-body">
                <h4 class="card-title">The Salad Story</h4>
                <p class="card-text" style="color: rgb(105, 105, 105);"> Cafe, Healthy Food, Salad, Fast Food...</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="card" >
              <div class="img-holder">
                <img src="image/menu3.jpg" class="card-img-top" >
              </div>
              <div class="card-body">
                <h4 class="card-title">The Irish House</h4>
                <p class="card-text" style="color: rgb(105, 105, 105);"> European, American, Fast Food</p>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="card" >
              <div class="img-holder">
                <img src="image/menu4.jpg" class="card-img-top" >
              </div>
              
              <div class="card-body">
                <h4 class="card-title">UBQ by Barbeque Nation</h4>
                <p class="card-text" style="color: rgb(105, 105, 105);"> North Indian, BBQ, Biryani, Shake</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="card" >
              <div class="img-holder">
                <img src="image/menu5.jpg" class="card-img-top" >
              </div>
              <div class="card-body">
                <h4 class="card-title">Dimsum & Co.</h4>
                <p class="card-text" style="color: rgb(105, 105, 105);"> Chinese, Thai, Malaysian, Japanese...</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="card" >
              <div class="img-holder">
                <img src="image/menu6.jpg" class="card-img-top" >
              </div>
              <div class="card-body">
                <h4 class="card-title">The burger company</h4>
                <p class="card-text" style="color: rgb(105, 105, 105);"> Burger, Fast Food, Beverages, Shake</p>
              </div>
            </div>
          </div>
        </div>

        <div class="btn"><a href="/browsefood">browse more food</a></div>

      </div>
    </section><!-- End Browse Food Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Most of the time I stay out of hometown and I do not have to worry about food because Chunk takes care of that. I can order food during night whenever I am working late and don't feel like cooking anything. I can order healthy food as well whenever I am on my diet.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="image/testimonials/user1.jpg" class="testimonial-img" alt="">
                <h3>Rita Pappalardo</h3>
                <h4>Marketing strategist</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  This platform has many choices of restaurants in it. Almost all good restaurants in my city are present in Chunk. The user interface is also very nice and easy to use. It saves the time and we can enjoy the delicious food while sitting in the home .
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="image/testimonials/user2.jpg" class="testimonial-img" alt="">
                <h3>Gyvani Smith</h3>
                <h4>Senior software engineer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  A website that provides detailed nearby restaurant options for food on the basis of time, rating and price. So many offers and so many varieties of food. It supports hygenic and quality maintanied restaurants. Very user friendly and never faced any issue when using it.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="image/testimonials/user3.jpg" class="testimonial-img" alt="">
                <h3>Melissa Rowel</h3>
                <h4>Teacher</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  From tacos to steak to a Slurpee, anything is possible. Based on where you live, they will show you a wide variety of restaurants available to you, and you can order from any of them. Chunk is a real gem.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="image/testimonials/user4.jpg" class="testimonial-img" alt="">
                <h3>Brandon Wazen</h3>
                <h4>Architect</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Considering we are experiencing a pandemic currently, it is super convenient to have foods from a variety of restaurants delivered right to your doorstep. This is the first app of its kind that I have ever used so to say that I was excited is an understatement.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="image/testimonials/user5.jpg" class="testimonial-img" alt="">
                <h3>Lewis Russel</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>
      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://maps.google.com/maps?q=Antonine%20University&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>	Baabda, Mount Lebanon, Lebanon</p>
              </div>

              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  Monday-Saturday:<br>
                  08:00 AM - 23:00 PM
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>	www.ua.edu.lb</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>00 961 5 927 000</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form method="post" id="sendEmail" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" id="message" rows="8" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-msg" id="error-msg"></div>
                <div class="sent-message" id="sent-message"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Download App Section ======= -->
    <section id="download" class="download">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Download our app</h2>
          <p>Better experience on mobile</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <a href="https://play.google.com/store/apps/details?id=com.application.zomato">
                <img src="image/google-play.svg">
                <h4>Google App Store</h4>
              </a>
            </div>
          </div>

          <div class="col-lg-6 mt-6 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <a href="https://apps.apple.com/us/app/zomato-food-delivery-dining/id434613896">
                <img src="image/ios.svg">
                <h4>IOS App Store</h4>
              </a>
            </div>
          </div>
          

        </div>

      </div>
    </section><!-- End Why Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="social-links mt-3">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Chunk</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

   <!-- Vendor JS Files -->
   <script src="vendor\aos\aos.js"></script>
   <script src="vendor\bootstrap\js\bootstrap.bundle.min.js"></script>
   <script src="vendor\glightbox\js\glightbox.min.js"></script>
   <script src="vendor\isotope-layout\isotope.pkgd.min.js"></script>
   <script src="vendor\swiper\swiper-bundle.min.js"></script>
   <script src="vendor\php-email-form\validate.js"></script>
 
   <script src="https://kit.fontawesome.com/5118cb3e8d.js" crossorigin="anonymous"></script>  
 
   <!-- Template Main JS File -->
   <script src="js\new_main.js"></script>
  

</body>

</html>